* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    color: #333;
    line-height: 1.6;
    background: #f4f4f9;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background: linear-gradient(135deg, pink, #66e4e9);
    color: #fff;
    padding: 1rem 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 10px 10px;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-weight: 700;
    font-size: 1.8rem;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #e4e4e4;
}

.hero {
    background: linear-gradient(135deg, #66e4e9, pink);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    border-radius: 0 0 50px 50px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.hero h2 {
    font-size: 3.5rem;
    margin-bottom: 20px;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

.hero p {
    font-size: 1.5rem;
    margin-bottom: 30px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

.btn {
    background: #fff;
    color: #5e233f;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: background 0.3s ease, color 0.3s ease;
}

.btn:hover {
    background: #6e8efb;
    color: #fff;
}

.features {
    padding: 3rem 0;
    background: #f4f4f9;
}

.features .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.features .feature-item {
    flex: 1;
    margin: 1rem;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    background: linear-gradient(135deg, pink, #66e4e9);
     
}

.features .feature-item:hover {
    transform: translateY(-10px);
}

.features h2 {
    text-align: center;
    margin-bottom: 2rem;
    color: #5e233f;
}

.features h3 {
    margin-bottom: 1rem;
    color: #333;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1.5rem 0;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.1);
}
